<div>Hello!</div>
<%= image_tag("6GLaSCB.jpg", :style => "width:200px; height:200px;") %>
<%= link_to "about us", about_path %>
<%= link_to "activies", activies_path %>
<%= link_to "donate", donate_path %>
<%= link_to "parents", parents_path %>
<%= link_to "staff", staff_path %>
